@model CalculatorIndexModel

@{
    ViewData["Title"] = "Index";
}

@Html.AntiForgeryToken()

<h2>@Model.Name - @Model.Id</h2>

<p>@Model.Description</p>

<div>
    <vc:input-value-control calculator-id="1" on-input-callback="onValueInput" />
    Argument 1: <input id="argument1" type="text" />
    <br />
    Argument 2: <input id="argument2" type="text" />
    <p>
        <input type="button" value="Calculate" onclick="onClickSubmit();" />
    </p>
    <p>
        Result: <input id="calculationResult" type="text" readonly />
    </p>
</div>

<script type="text/javascript">
    function onClickSubmit() {
        $.ajax({
            url: "/Calculator/@Model.Id/Calculate",
            type: "GET",
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: {
                argument1: $("#argument1").val(),
                argument2: $("#argument2").val()
            }
        })
        .done(function (result) {
            $("#calculationResult").val(result.value);
        });
    }

    function onValueInput(e) {
        console.log("onValueInput - e: " + JSON.stringify(e));
    }
</script>
