@model SearchModel

@{
    ViewData["Title"] = "Calculators";
}

<div class="row">
    <h4 class="mr-2">Filters:</h4>
    @foreach(var filter in Model.Filters)
    {
        <h4><span class="badge badge-dark d-flex align-items-center">@filter<button type="button" class="close ml-1" onclick="onClickFilterClose(this);">&times;</button></span></h4>
    }
</div>

@await Html.PartialAsync("~/Views/Search/Result.cshtml", new SearchResultModel { CalculatorIds = Model.CalculatorIds })

@section scripts {
    <script type="text/javascript">
        function onClickFilterClose(e) {
            var navUrl = navigationUrl();
            var newUrl = navUrl.removeQueryParam({ key: "s" });
            navUrl.goToUrl(newUrl.url.location.href);
        }
    </script>
}