@model SearchResultModel

<div class="row">
    @foreach (var id in Model.CalculatorIds)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <vc:calculator-card-control calculator-id="@id" />
        </div>
    }
</div>
