namespace XCalculateLib
{
    public class ${TypeName}Value : BaseValue<${BaseType}>
    {
        public ${TypeName}Value(${BaseType} value, IValueInfo info = null, ValueValidator<${BaseType}> validator = null)
            : base(value, info, validator)
        {
        }
    }
}
