namespace XCalculateLib
{
    public class ${TypeName}ArrayValue : BaseArrayValue<${BaseType}>
    {
        public ${TypeName}ArrayValue(${BaseType}[] value, ${TypeName}ArrayValueInfo info = null, Range lengthRange = null, ValueValidator<${BaseType}[]> validator = null)
            : base(value, info, lengthRange, validator)
        {
        }
    }
}
