namespace XCalculateLib
{
    public class ${TypeName}ArrayValueInfo : BaseArrayValueInfo<${BaseType}>
    {
        public ${TypeName}ArrayValueInfo(string name = null, string description = null, string unitName = null)
            : base(name, description, unitName)
        {
        }
    }
}
