@model XCalculate.Web.App.Components.InputValueControlModel

<div>
    <span>@Model.Name</span>: <input id="input-@Model.Name" class="inputValue form-control mr-sm-2" type="text" value="@Model.Value" oninput="inputValueControlOnInput(this);" /><span>@Model.UnitLabel</span>
</div>

<script type="text/javascript">
    function inputValueControlOnInput(e) {
        var callback = @Model.OnInputCallback;
        callback({
            Key: e.id.substr(6),
            Value: parseFloat(e.value)
        });
    }
</script>