namespace XCalculatorLib
{
    public class ${TypeName}ValueInfo : BaseValueInfo<${BaseType}>
    {
        public ${TypeName}ValueInfo(string name = null, string description = null, string unitName = null)
            : base(name, description, unitName)
        {
        }
    }
}
