@model XCalculate.Web.App.Components.CalculatorCardControlModel

<div class="card text-white bg-primary mb-3">
    <!-- style="max-width: 20rem;">-->
    <a href="@Model.Uri.ToString()">
        <div class="card-header">@Model.Title</div>
    </a>
    <div class="card-body">
        @*<h4 class="card-title">Primary card title</h4>*@
        <p class="card-text">@Model.Description</p>
        <hr />
        <p class="card-text">
            @foreach (var tag in Model.Tags)
            {
                <vc:badge-control text="@tag" uri="/Browse/?s=@tag" color="Dark" />
            }
        </p>
    </div>
</div>
