<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - XCalculate</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <div class="d-flex flex-column justify-content-between">
        <div>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="/">XCalculate</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbarToggle" aria-controls="topNavbarToggle" aria-expanded="false" aria-label="Toggle top navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topNavbarToggle">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <input id="nav-search" class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="return onClickNavSearch(this);">Search</button>
                    </form>
                </div>
            </nav>
            <div class="d-flex">
                <div class="mt-1">
                    <span class="flex-column ml-4"><a href="/Browse">Browse</a></span>
                    <hr />
                    <span class="flex-column ml-4">Tags</span>
                    <!-- Navigation Tags -->
                    <vc:navigation-tags-control />
                </div>
                <main class="container mt-2">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="text-center py-1">
            <hr />
            <span class="text-muted">&copy; 2019 - <a href="http://www.digimodern.com">DigiModern Software Solutions Incorporated</a></span>
        </footer>
    </div>
    <script src="~/js/site.min.js"></script>
    <script src="~/js/navigationUrl.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        function onClickNavSearch(e) {
            var $navSearch = $("#nav-search");
            var term = $navSearch.val();
            if (term) {
                var authority = `${location.protocol}//${location.host}`;
                var url = `${authority}/Browse/?s=${term}`;

                var navUrl = navigationUrl();
                navUrl.goToUrl(url);

                $navSearch.val("");
            }
            return false;
        }
    </script>
</body>
</html>
