<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - XCalculate</title>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - DigiModern Software Solutions Incorporated</p>
        </footer>
    </div>
    <script src="~/js/site.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
