@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach (var link in Model.CalculatorLinks)
        {
            <li>
                <a href="@link.Uri.ToString()">@link.Text</a>
            </li>
        }
    </ul>
</div>