@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <ul>
        @foreach (var name in Model.CalculatorNames)
        {
            <li>
                @name
            </li>
        }
    </ul>
</div>